.hide-ads {
    display: none !important;
}

.center-content.ct_scroll_wrapper::after {
    display: none !important;
}

.center-content  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: auto !important;
}
